<div class="center">
    <img style="position: absolute; bottom: 0; left: 0; width: 80%; max-width: 685px;" src="../assets/imgs/main_1.png">
    
    <br><br><br><br><br>
    <div>
        <input placeholder="Username" class="input username co-8" type="text" ng-model="vm.loginParams.username">
        <br>
        <input placeholder="Email" class="input username co-8" type="text" ng-model="vm.loginParams.email">
        <br>
        <input placeholder="Password" class="input password co-8" style="margin-top: 5px; margin-left: 0px" type="password" ng-model="vm.loginParams.password">
        <br>
        
        <div class="toButton toLoginButton co-8" style="margin-left: -5px; margin-top: 20px" ng-click="vm.onRegister()">
            Register
        </div>
        <br>
        <a href="#">Forgot your password?</a>
    </div>
</div>